.info {
  height: 30%;
  background-color: royalblue;
}

@media (max-width: 767px) {
  .info {
    height: 10%;
    background-color: royalblue;
  }
}

.techstack {
  display: flex;
  flex-wrap: wrap;
  height: 25%;
}

@media (max-width: 767px) {
  .techstack {
    display: flex;
    flex-wrap: wrap;
    height: 35%;
  }
}

.techstack > div {
  flex: 1; /*grow*/
}

.title {
  background-color: purple;
  float: left;
}

.btn {
  margin-right: 10px;
  background-color: black;
  float: right;
}

.descriptionDiv {
  background-color: yellow;
}
