.info {
  height: 15%;
}

@media (max-width: 1333px) {
  .info {
    height: 13%;
  }
}

@media (max-width: 568px) {
  .info {
    height: 10%;
  }
}

.title {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #00ff66;
}

@media (max-width: 568px) {
  .title {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #00ff66;
  }
}

.btn {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  color: #00ff66;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
  border-width: thin;
  border-color: #00ff66;
  padding-right: 5px;
  padding-left: 5px;
}

.techstack {
  display: flex;
  flex-wrap: wrap;
  min-height: 15%;
  height: auto;
}

@media (max-width: 1333px) {
  .techstack {
    display: flex;
    flex-wrap: wrap;
    min-height: 12%;
    height: auto;
  }
}

@media (max-width: 568px) {
  .techstack {
    display: flex;
    flex-wrap: wrap;
    min-height: 8%;
    height: auto;
  }
}

.techstack > div {
  flex: 0 1 auto;
  font-size: 15px;
  padding: 5px;
  min-width: 15%;
}

.descriptionDiv {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #00ff66;
}
